<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link href="/css/application.css" rel="stylesheet" media="all" />
  </head>
  <body class="mx-auto max-w-4xl p-4 pt-16 prose h-full">
    <div class="relative z-10">
      <p>
        <a href="/">dorianmarie.com</a>
      </p>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    <canvas id="game" class="absolute top-0 left-0 right-0 z-0"></canvas>
    <script src="/js/game.js"></script>
  </body>
</html>
